/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-plugin-prueba-tech {
	background-color: #00B049;
	color: #ffffff;
	padding: 2px;
	width: auto;
	text-align: center;
}
